# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    stats refresh 10s


frontend gologic_dev_ca
    mode tcp
    bind *:80 
    option tcplog
    default_backend okd4_http_ingress_traffic_be

backend okd4_http_ingress_traffic_be
     balance source
     mode tcp
     server      okd4-compute-1 10.10.1.30:80 check verify none
     server      okd4-compute-2 10.10.1.31:80 check verify none

frontend secure_gologic_dev_ca
    mode http
    bind *:443 ssl crt /etc/ssl/certs/gologic-dev.pem ca-file /etc/ssl/certs/gologic_inter_CA.pem
    option tcplog
    default_backend okd4_https_ingress_traffic_be

backend okd4_https_ingress_traffic_be
     balance roundrobin
     mode http
     server      okd4-compute-1 10.10.1.30:443 ssl check verify none
     server      okd4-compute-2 10.10.1.31:443 ssl check verify none

